<!DOCTYPE html>
<html>
  <head>
    <title>Shoaib Rabbani-Roadhouse Films</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header id="main_navigation" class="clearfix">
          <%= link_to "SHOAIB RABBANI", welcome_index_path, class:"name" %>
         <nav>
           <%= link_to "Articles", posts_path %>
           <a href="projects.html">Projects</a>
           <a href="Contact.html">Contact</a>
        </nav>
     </header>
<%= yield %>
   <footer id ="main_footer">
      <p class="copyright"> &copy;2017 Roadhouse Films </p>
     <nav>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/roadhousefilm/" target="_blank""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
     </nav>
   </footer>
</body>
</html>
